hailort.log
gstshark*
core
hailo_face_recognition/hailo_face_recognition/__pycache__/
hailo_face_recognition/test/__pycache__/
hailo_face_recognition/hailo_face_recognition/launch/__pycache__/
hailo_face_recognition/hailo_face_recognition/resources/arcface_mobilefacenet_v1.hef
hailo_face_recognition/hailo_face_recognition/resources/example.mp4
hailo_face_recognition/hailo_face_recognition/resources/scrfd_10g.hef
hailo_face_recognition/hailo_face_recognition/resources/yolov8m.hef
hailo_face_recognition/hailo_face_recognition/resources/yolov8s_h8l.hef
hailo_face_recognition/hailo_face_recognition/resources/face_recognition.mp4
hailo_face_recognition/hailo_face_recognition/resources/face_recognition_local_gallery.json
hailo_face_recognition/hailo_face_recognition/resources/local_gallery.json
hailo_common/hailo_common/__pycache__/
hailo_common/test/__pycache__/
